{% extends "base.html" %}
{% load static %}

{% block hero %}
<div class="container mt-3 px-3">
    <div class="row">
        <div class="col-lg-6 d-flex flex-column pt-4 pt-lg-0 order-1 order-lg-1" data-aos="zoom-in"
            data-aos-delay="100">
            <h2 class="text-white mt-4 mb-2">
                Search Result
            </h2>
        </div>
    </div>
</div>
{% endblock hero %}

{% block content %}
<div class="container mt-4" data-aos="fade-up">
{% comment %} TODO: table of features {% endcomment %}
</div>
{% endblock content %}