<footer id="footer" class="footer">
  <div class="container footer-bottom clearfix">
    <div class="text-center">
      <span>&copy; Copyright 2023: <a href="https://github.com/cybercroft" title="cybercroft">cybercroft</a></span>
    </div>
    <div class="text-center">
      <span>Forked from: 
        <a href="https://github.com/AnthonyCalandra/modern-cpp-features" title="Anthony Calandra">Github Repo</a>
      </span>
    </div>
    <div class="text-center">
      <span>Coding icons created by
        <a href="https://www.flaticon.com/free-icons/coding" title="coding icons"> Freepik - Flaticon</a>
      </span>
    </div>
  </div>
</footer>