{% load static %}
<!-- jQuery: v3.6.0 (first) -->
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!-- Bootstrap Bundle: v5.2.3 -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<!-- jQuery-UI -->
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<!-- Swiper JS -->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<!-- Glightbox JS -->
<script src="{% static 'js/glightbox.js' %}"></script>
<!-- Isotope JS -->
<script src="{% static 'js/isotope.pkgd.js' %}"></script>
<!-- AOS JS -->
<script src="{% static 'js/aos.js' %}"></script>
<!-- FontAwesome JS -->
<script src="{% static 'assets/fontawesome/js/fontawesome.js' %}"></script>
<script src="{% static 'assets/fontawesome/js/regular.js' %}"></script>
<script src="{% static 'assets/fontawesome/js/solid.js' %}"></script>
<script src="{% static 'assets/fontawesome/js/brands.js' %}"></script>
<!-- Static JS files -->
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollTo.js' %}"></script>
<script src="{% static 'js/jquery.appear.js' %}"></script>
<!-- Extra JS -->
<script src="{% static 'js/main.js' %}"></script>